@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "./Colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

$enable-gradients: true;

html *{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

@import "~bootstrap/scss/bootstrap";